[Unit]
Description=Virtual network domain. Domain logic
Requires=docker.service
After=network.target docker.service 

[Service]
Environment="PATH=/opt/virtman/intakevms/venv/bin/:/usr/sbin/:/usr/bin/"
Environment="PYTHONPATH=:/opt/virtman/intakevms/"
Environment=PYTHONUNBUFFERED=1


WorkingDirectory=/opt/virtman/intakevms/intakevms/modules/virtual_network/domain/
ExecStart=/opt/virtman/intakevms/venv/bin/python3 -u /opt/virtman/intakevms/intakevms/modules/virtual_network/domain/manager.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target