[Unit]
Description=Storage service layer for manipulating storage domain
Requires=docker.service
After=network.target docker.service 

[Service]
Environment="PATH=/opt/aero/intakevms/venv/bin/:/usr/sbin/:/usr/bin/"
Environment="PYTHONPATH=:/opt/aero/intakevms/"
Environment=PYTHONUNBUFFERED=1

WorkingDirectory=/opt/aero/intakevms/intakevms/modules/storage/service_layer/
ExecStart=/opt/aero/intakevms/venv/bin/python3 -u /opt/aero/intakevms/intakevms/modules/storage/service_layer/manager.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target